body { background: #e0e5ec; }
html { font-size: 10px; }
::-webkit-scrollbar {
    display: none;
}


section { margin: 30px 0; }

.movie-slide { background:#fff; 
    color: #000; margin: auto;
    max-width: 1500px;
    overflow: scroll hidden; 
    padding: 10px; }

.movie-slide:hover { transition: 2s ease-out; box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 15px; }

.container-title { display: flex; 
    border-bottom: 2px solid; width:110px;
    font-family: Poppins, serif;
    margin-left: 15px;
    font-size: 25px;  }

.movie-box { display: flex;
   overflow: scroll hidden;
   padding: 10px 10px;
   width: calc(100vw - 60px); }

.movie-info { margin: 5px 15px 8px 0px; }

.movie-info img { 
  background: center center/cover no-repeat #ddd;
   border-radius: 0 0 10px 10px;
   height: 300px;
   object-fit: cover;
   width: 220px; }

.movie-name { cursor:pointer;
   padding: 12px 0px;
   width: 200px;
   font-size: 1.8rem;  }

.review { 
   font-size: 1.4rem;
   font-weight: 300; }
.review .fa-solid { font-size: 1.8rem; color: #e53935; margin: 0 10px; }

.all-btn { text-align: center; 
    background-color: #3461af; 
    border-radius: 10rem; 
    margin: -15px auto 0; 
    font-size: 1.2rem; font-weight: 600; 
    width: 220px; max-width: 400px; 
    padding: 10px; 
    display: flex;
    justify-content: center;
}
    
.all-btn:active { transform: translateY(2px); }
